.menu{
        text-align: right;
        background: #c6cedf;
        line-height: 40px;
}
.menu > a{
        margin-right: 15px;
            letter-spacing: 4px;
            font-weight: bold;
            color: white;
            font-style: italic;
}